
<aside class="sidebar">
      <div class="profile-pic"></div>
      <nav>
        <a href="#">Posts</a>
        <a href="#">About</a>
        <a href="#">FYP</a>
        <a href="#">Contact</a>
      </nav>
    </aside>