<%- include('partials/header.ejs') %>
<body class="view-post-page">
  <div class="container">
    <%- include('partials/sidebar.ejs') %>

    <main class="main-content">
      <div class="view-post-container">
        <h1 class="view-post-title">Name</h1>
        <p class="view-post-meta">Date</p>
        <div class="view-post-body">
          <p>Message</p>
        </div>
      </div>
    </main>
  </div>
  <%- include('partials/footer.ejs') %>
</body>
</html>
